@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using JobSearchFullWebSite.Models
@model Setting
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="@Model.Location">Məkan</label>
                <input asp-for="@Model.Location" class="form-control" id="Location" placeholder="Məkan...">
                <span asp-validation-for="@Model.Location" class="text-danger"></span>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.Phone">Əlaqə nömrəsi</label>
                <input asp-for="@Model.Phone" class="form-control" id="Phone" placeholder="Əlaqə...">
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Email">Email</label>
                <input asp-for="@Model.Email" class="form-control" id="Email" placeholder="Email">
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.FacebookUrl">Facebook Linki</label>
                <input asp-for="@Model.FacebookUrl" class="form-control" id="FacebookUrl" placeholder="Facebook...">
                <span asp-validation-for="@Model.FacebookUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.TwitterUrl">Twitter Linki</label>
                <input asp-for="@Model.TwitterUrl" class="form-control" id="TwitterUrl" placeholder="Twitter...">
                <span asp-validation-for="@Model.TwitterUrl" class="text-danger"></span>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.InstagramUrl">Instagram Linki</label>
                <input asp-for="@Model.InstagramUrl" class="form-control" id="InstagramUrl" placeholder="Instagram...">
                <span asp-validation-for="@Model.InstagramUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.LinkedinUrl">Linkedin Linki</label>
                <input asp-for="@Model.LinkedinUrl" class="form-control" id="LinkedinUrl" placeholder="Linkedin...">
                <span asp-validation-for="@Model.LinkedinUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.HeaderLogoFile">Üst Loqo</label>
                <input asp-for="@Model.HeaderLogoFile" class="form-control" id="HeaderLogoFile" placeholder="HeaderLogoFile">
                <span asp-validation-for="@Model.HeaderLogoFile" class="text-danger"></span>
                <br />
                <div class="img-box col-md-4" style="position:relative;max-width:200px;width:200px;height:200px;max-height:200px;">
                    <img class="d-block" src="~/images/settingImage/@Model.HeaderLogo" style="max-width:180px;width:180px;height:180px;max-height:180px;margin-left:10px;padding-top:20px" />
                    @*<i class="fas fa-times remove-img-box" style="color:red;position:absolute;cursor:pointer;right:4px;top:2px;font-size:17px"></i>*@
                    @*<input type="hidden" name="AboutTopImageId[]" value="@Model.Id" />*@
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.FooterLogoFile">Aşağı Loqo</label>
                <input asp-for="@Model.FooterLogoFile" class="form-control" id="FooterLogoFile" placeholder="FooterLogoFile">
                <span asp-validation-for="@Model.FooterLogoFile" class="text-danger"></span>
                <br />
                <div class="img-box col-md-4" style="position:relative;max-width:200px;width:200px;height:200px;max-height:200px;">
                    <img class="d-block" src="~/images/settingImage/@Model.FooterLogo" style="max-width:180px;width:180px;height:180px;max-height:180px;margin-left:10px;padding-top:20px" />
                    @*<i class="fas fa-times remove-img-box" style="color:red;position:absolute;cursor:pointer;right:4px;top:2px;font-size:17px"></i>*@
                    @*<input type="hidden" name="AboutTopImageId[]" value="@Model.Id" />*@
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.HeaderResponsiveLogoFile">Responsive Loqo</label>
                <input asp-for="@Model.HeaderResponsiveLogoFile" class="form-control" id="HeaderResponsiveLogoFile" placeholder="HeaderResponsiveLogoFile">
                <span asp-validation-for="@Model.HeaderResponsiveLogoFile" class="text-danger"></span>
                <br />
                <div class="img-box col-md-4" style="position:relative;max-width:200px;width:200px;height:200px;max-height:200px;">
                    <img class="d-block" src="~/images/settingImage/@Model.HeaderResponsiveLogo" style="max-width:180px;width:180px;height:180px;max-height:180px;margin-left:10px;padding-top:20px" />
                    @*<i class="fas fa-times remove-img-box" style="color:red;position:absolute;cursor:pointer;right:4px;top:2px;font-size:17px"></i>*@
                    @*<input type="hidden" name="AboutTopImageId[]" value="@Model.Id" />*@
                </div>
            </div>

        </div>
        <br />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <br />
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Yenilə</button>
        </div>
    </form>

</div>