@using JobSearchFullWebSite.ViewModels
@using JobSearchFullWebSite.Models
@using JobSearchFullWebSite.Enums
@using System.ComponentModel
@model JobListAndEmployerViewModel
@{
    ViewData["Title"] = "EmployerApplies";
}
<div class="cont">
    <div class="main px-4">


        <br />
        <br />
        <button class="showOn700 btn btn-primary" data-toggle="modal"
                data-target="#myModal1">
            <i class="fas fa-align-justify white"></i>&nbsp;&nbsp;&nbsp;<span class="white">Menyu</span>
        </button>
        <br />
        <br />
        <div class="d-flex flex-row justify-content-center">
            <h2><b>Müraciətlər</b></h2>

        </div>
        <br />
        <br />
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr class="bg-primary white">
                        <th scope="col" class="fontSize14">Başlıq</th>
                        <th scope="col" class="fontSize14">Tarix</th>
                        <th scope="col" class="fontSize14">Status</th>
                        <th scope="col" class="fontSize14">Funksiyalar</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Jobs != null)
                    {
                        @foreach (var item in Model.Jobs)
                        {
                            <tr class="">
                                <td class="fontSize14">
                                    <div class="d-flex flex-row">
                                        <div>
                                            @if (item.JobImages.FirstOrDefault(x => x.IsPoster) != null && item.JobImages.FirstOrDefault(x => x.IsPoster).Image != null)
                                            {
                                                <img style="width: 50px; height: 50px"
                                                     src="~/images/jobImage/@item.JobImages.FirstOrDefault(x=>x.IsPoster).Image"
                                                     alt="" />
                                            }
                                            else
                                            {
                                                <img style="width: 50px; height: 50px"
                                                     src="https://apusthemes.com/wp-demo/superio/wp-content/themes/superio/images/placeholder.png"
                                                     alt="" />
                                            }

                                        </div>
                                        <div class="
                              d-flex
                              flex-column
                              justify-content-center
                              ms-3
                            ">
                                            <div><b>@item.Name</b></div>
                                            <div class="d-flex flex-row">
                                                <div class="d-flex flex-row grey align-items-center">
                                                    <i class="fas fa-briefcase"></i><span class="ms-1">@item.JobCategory.Name</span>
                                                </div>
                                                <div class="
                                  d-flex
                                  flex-row
                                  grey
                                  align-items-center
                                  ms-4
                                ">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    <span class="ms-1">@item.City.CityName</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="fontSize14" style="vertical-align: middle">
                                    @item.CreatedAt.ToString("MM.dd.yyyy")
                                </td>
                                <td class="fontSize14" style="vertical-align: middle">
                                    @{
                                        DescriptionAttribute b = (DescriptionAttribute)(((typeof(ApplyStatus)).GetField(item.ApplyStatus.ToString())).GetCustomAttributes(typeof(DescriptionAttribute), true))[0];
                                        @b.Description
                                    }
                                </td>
                                <td class="fontSize14" style="vertical-align: middle">
                                    <div class="d-flex flex-row">
                                        <div style="
                              background-color: #eff4fc;
                              width: 30px;
                              height: 30px;
                            "
                                             class="
                              d-flex
                              flex-row
                              align-items-center
                              justify-content-center
                              border-radius
                              AplliedJobIcon
                            ">
                                            <a class="text-decoration-none w-100 h-100 d-flex flex-row justify-content-center align-items-center " asp-action="rejectJob" asp-controller="employer" asp-route-jobId="@item.Id">
                                                <i class="fas fa-times blue"></i>
                                            </a>
                                        </div>
                                        <div style="
                              background-color: #eff4fc;
                              width: 30px;
                              height: 30px;
                            "
                                             class="
                              d-flex
                              flex-row
                              align-items-center
                              justify-content-center
                              border-radius
                              ms-2
                              AplliedJobIcon
                            ">
                                            <a class="text-decoration-none w-100 h-100 d-flex flex-row justify-content-center align-items-center" asp-action="edit" asp-controller="job" asp-route-jobId="@item.Id"><i class="fas fa-eye blue"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="sidebar ps-3">
    <br />
    <br />
    <div class="">
        <div class="ImageAndUserName flex-row">
            <div class="UserImage d-flex align-items-center">
                @if (Model.Employer.EmployerImages != null && Model.Employer.EmployerImages.FirstOrDefault(x => x.IsPoster) != null && Model.Employer.EmployerImages.FirstOrDefault(x => x.IsPoster).Image != null)
                {
                    <img src="~/images/employerImage/@Model.Employer.EmployerImages.FirstOrDefault(x=>x.IsPoster).Image"
                         alt=""
                         style="width: 60px; height: 60px; border-radius: 50%" />
                }
                else
                {
                    <img src="https://secure.gravatar.com/avatar/70bb49755b38874fc6ef1a6cc91118d7?s=80&d=mm&r=g"
                         alt=""
                         style="width: 60px; height: 60px; border-radius: 50%" />
                }

            </div>
            <div class="
                    d-flex
                    flex-column
                    ms-3
                    align-items-center
                    justify-content-center
                  ">
                @if (Model.Employer != null && Model.Employer.Name != null)
                {
                    <div class="UserName black"><b>@Model.Employer.Name</b></div>
                }
                else
                {
                    <div class="UserName black"><b>@Model.Employer.AppUser.UserName</b></div>
                }
                @if (Model.Employer != null && Model.Employer.City != null)
                {
                    <div class="UserCity black">@Model.Employer.City.CityName</div>
                }
                <div class="UserProfileButton">
                    <a class="text-decoration-none " asp-action="detail" asp-controller="employer" asp-route-id="@Model.Employer.Id">
                        <button class="btn btn-primary" style="font-size: 10px">
                            Profilə bax
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="d-flex flex-column">
            <a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3 text-decoration-none" asp-action="employerDashboard" asp-controller="employer" asp-route-id="@Model.Employer.Id">
                <div class="Icon"><i class="far fa-file-alt"></i></div>
                <div class="SectionName ms-2">Statistika</div>
            </a>
            <a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3 text-decoration-none" asp-action="EmployerProileEdit" asp-controller="employer" asp-route-id="@Model.Employer.Id">
                <div class="Icon"><i class="far fa-user-circle"></i></div>
                <div class="SectionName ms-2">Profil</div>
            </a>
            <a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3 text-decoration-none" asp-action="GetJobs" asp-controller="employer" asp-route-id="@Model.Employer.Id">
                <div class="Icon"><i class="fas fa-file-signature"></i></div>
                <div class="SectionName ms-2">İşləriniz</div>
            </a>
            <a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3 text-decoration-none" asp-action="employerapplies" asp-controller="employer">
                <div class="Icon"><i class="fas fa-file-signature"></i></div>
                <div class="SectionName ms-2">Müraciətləriniz</div>
            </a>
            <a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3 text-decoration-none" asp-action="GetFollowers" asp-controller="employer" asp-route-id="@Model.Employer.Id">
                <div class="Icon"><i class="fas fa-volume-up"></i></div>
                <div class="SectionName ms-2">İzləyicilər</div>
            </a>
            <a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3 text-decoration-none" asp-action="SubmitJob" asp-controller="employer" asp-route-newId="@Model.Employer.Id">
                <div class="Icon"><i class="far fa-bookmark"></i></div>
                <div class="SectionName ms-2">İş yarat</div>
            </a>
            <a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3 text-decoration-none" asp-action="GetContacts" asp-controller="employer">
                <div class="Icon"><i class="far fa-user"></i></div>
                <div class="SectionName ms-2">Əlaqələr</div>
            </a>
            @*<a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3">
                    <div class="Icon"><i class="fas fa-volume-up"></i></div>
                    <div class="SectionName ms-2">Alert Jobs</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3">
                    <div class="Icon"><i class="fab fa-weixin"></i></div>
                    <div class="SectionName ms-2">Messages</div>
                </a>*@
            <a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3 text-decoration-none" asp-action="EmployerEdit" asp-controller="account">
                <div class="Icon"><i class="fas fa-lock"></i></div>
                <div class="SectionName ms-2">Şifrəni yenilə</div>
            </a>
            <a class="d-flex mt-2 UserProfileItem px-4 border-radius  me-2 py-3 text-decoration-none delete-profile-btn" asp-action="RemoveEmployer" asp-controller="account" asp-route-id="@Model.Employer.Id">
                <div class="Icon"><i class="far fa-trash-alt"></i></div>
                <div class="SectionName ms-2">Hesabı sil</div>
            </a>
            <a class="d-flex mt-2 UserProfileItem px-4 border-radius me-2 py-3 text-decoration-none" asp-action="logout" asp-controller="account">
                <div class="Icon"><i class="fas fa-power-off"></i></div>
                <div class="SectionName ms-2">Çıxış</div>
            </a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>
</div>

<style>
    body {
        font-size: 15px !important;
        background-color: #f4f7fc;
    }

    .UserProfileItem {
        padding-bottom: 5px;
        padding-top: 5px;
    }

        .UserProfileItem:hover {
            background-color: #f4f7fc;
        }

    .sidebar {
        background: white;
        color: white;
        position: fixed;
        width: 20%;
        height: 100%;
        left: 0;
        overflow: auto;
        display: block;
        margin-top: -30px !important;
        padding-top: 40px !important;
    }

    .main {
        /*background: silver;*/
        color: black;
        width: 80%;
        float: right;
    }

        .main p {
            margin-bottom: 50px;
        }

    footer {
        display: none;
    }

    .ImageAndUserName {
        display: flex;
    }
</style>


